body {
    background-color: #fafafa;
}

.main-screen {
    margin: 1vh 0rem;
}

.left-panel {
    background-color: #fff; 
    border-right: solid 1px #cccccc;
}

.header-element {
    background-color: #eaeaea;
}

.image-container {
    margin: 0.5rem; 
    text-align: center;
}

.circular-img {
    border-radius: 10rem;
    width: 120%;
}

.myprofile-icon {
    margin-top: 0.8rem;
    margin-left: 1.2rem;
}

.myprofile-icon i {
    color: gray; text-align: center;
}

.search-container {
    padding: 0.5rem;
}

.search-icon {
    background-color: white; 
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.search-input {
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.chat-name-container {
    margin-top: 0.5rem; 
    padding-left: 0;
}

.chat-name {
    font-size: 1.05rem;
}

.chat-container {
    height: 79vh; 
    background-image: url('https://res.cloudinary.com/practicaldev/image/fetch/s--WAKqnINn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/tw0nawnvo0zpgm5nx4fp.png');
}

.message-element {
    background-color: #eaeaea; 
    padding: 0.5rem 0rem;
}

.destination-input {
    border-radius: 10rem;
}

.message-input {
    border-radius: 1rem;
}